* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), url('background2.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 20px;
  padding-top: 60px;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.highlight {
  font-weight: 700;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 15px;
  border-radius: 8px;
}

.theme {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.event-info {
  margin-bottom: 20px;
}

.location, .date {
  font-size: 1.2rem;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.2);
  display: inline-block;
  padding: 8px 15px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  margin: 5px;
}

.timebox {
  display: flex;
  gap: 80px;
  margin-top: 15px;
}

.time {
  text-align: center;
}

.time h2 {
  font-size: 5rem;
  font-weight: 300;
}

/* Responsive untuk tablet dan HP */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  .theme {
    font-size: 1.2rem;
    padding: 8px 15px;
    margin-bottom: 15px;
  }

  .location, .date {
    font-size: 1rem;
    padding: 6px 12px;
  }

  .timebox {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .time h2 {
    font-size: 3rem;
  }

  .hero {
    justify-content: flex-start;
    padding-top: 80px;
  }
}
